.css_code_individu_label {font-weight:bold;}
.css_code_individu_line {font-weight:bold;}
.css_code_individu_obj { }
.css_nom_etablissement_label {font-weight:bold;}
.css_nom_etablissement_line { }
.css_nom_etablissement_obj { }
.css_nom_individu_label {font-weight:bold;}
.css_nom_individu_line { }
.css_nom_individu_obj { }
.css_prenom_individu_label {font-weight:bold;}
.css_prenom_individu_line { }
.css_prenom_individu_obj { }
.css_npi_label {font-weight:bold;}
.css_npi_line { }
.css_npi_obj { }
.css_date_premiere_dose_label {font-weight:bold;}
.css_date_premiere_dose_line { }
.css_date_premiere_dose_obj { }
.css_nlot_premiere_dose_label {font-weight:bold;}
.css_nlot_premiere_dose_line { }
.css_nlot_premiere_dose_obj { }
.css_date_deuxieme_dose_label {font-weight:bold;}
.css_date_deuxieme_dose_line { }
.css_date_deuxieme_dose_obj { }
.css_nlot_deuxieme_dose_label {font-weight:bold;}
.css_nlot_deuxieme_dose_line { }
.css_nlot_deuxieme_dose_obj { }
.css_num_passeport_label {font-weight:bold;}
.css_num_passeport_line { }
.css_num_passeport_obj { }
.css_date_3dose_label { }
.css_date_3dose_line { }
.css_date_3dose_obj { }
.css_nlot_3dose_desc_label { }
.css_nlot_3dose_desc_line { }
.css_nlot_3dose_desc_obj { }
.css_structure2_desc_label {font-weight:bold;}
.css_structure2_desc_line { }
.css_structure2_desc_obj { }
.css_structure_3dose_desc_label { }
.css_structure_3dose_desc_line { }
.css_structure_3dose_desc_obj { }
.css_vaccin_3dose_desc_label { }
.css_vaccin_3dose_desc_line { }
.css_vaccin_3dose_desc_obj { }
.css_vaccin_desc_label {font-weight:bold;}
.css_vaccin_desc_line { }
.css_vaccin_desc_obj { }
.css_wilaya_desc_label {font-weight:bold;}
.css_wilaya_desc_line { }
.css_wilaya_desc_obj { }
.css_date_naiss_text_label { }
.css_date_naiss_text_line { }
.css_date_naiss_text_obj { }
